body{
    background-image: url("../images/bg.png");
}
ul{
    list-style-type: none;
    margin:0px;
    padding: 0px;
}
li{
    display: block;
    float: left;
    padding: 5px;
    background-color: #00acc1;
    margin-right: 5px;
    margin-bottom: 5px;
}
a{
    color: #ffffff;
    text-decoration:none;
}